@charset "UTF-8";
@charset "UTF-8";
body{
	background-size: contain; 
	color: white; 
	background-color: black; 
	}
.div1{
	display: inline-block; 
	width: 100%; 
	height: 100%;
	}
.sub{
	margin-top: 10px;
	width: 100px; 
	height: 30px;
	}
.at{
	color: rgb(159, 159, 159); 
	text-decoration: none;
	}
.head{
	text-align: left;
	}
.pn{
	width: 43%;
	}
.phone{
	width: 26%;
	}
td{
	width: auto;
	}
table{
	background-size: contain; 
	background-color: black;   
	text-align: right; 
	margin: auto; 
	border: 1px solid black; 
	border-collapse: collapse;
     width: 100%;
	}
.tr{
	height: 80px; 
	}
input[type="checkbox"]{
	display: none;
	}
.a{
	display: inline-block;
    position:absolute;
    left: 50%;
    top: 10px;
}
.at:hover{
    color: white;
    cursor: pointer;
}
.mume{
	width: 20%
}
 th, td {
 	text-align:center;
	 border: 0px;
     border-bottom: 1px solid white;
}
tr:hover { 
	background-color: rgb(26, 26, 26); 
}
.sub{
	background-position:  0px 0px;
	background-repeat: no-repeat;
	cursor:pointer;
	outline: 0;
	width: 20px;
	height: 20px;
	background-size: contain;
    }
